
@font-face {
    font-family: "W95font";
    src: url("W95font.otf");
}
@font-face {
    font-family: "W95fontBold";
    src: url("W95font-Bold.otf");
}
/* Grundstil */
*{
    margin: 0;
    padding: 0;
    user-select:none;
    border-style: none;
}
:root{
    --black: hsl(0,0%,0%);
    --darkgrey: hsl(0,0%,50%);
    --grey: hsl(0,0%,75%);
    --white: hsl(0,0%,100%);
    --yellow: hsl(60,100%,50%);
    --cyan: hsl(180,100%,25%);
    --blue:hsl(240,100%,25%);
}

body{
    background-color: var(--cyan);
    color: var(--black);
    text-align: center;
    border-width: 2px;

    
    font-family: "W95font";
}
body>*{
    background-color: var(--grey);
}
main>*{
    border-style:outset;
    
}
h3{
    font-size: 20px;
}

.border-wrap-1{
    border: solid; 
    border-color: var(--white) var(--black) var(--black) var(--white);
    width: auto;
    height: auto;
    background-color: var(--grey);
}
.border-wrap-2{
    border: solid; 
    border-color: var(--grey) var(--darkgrey) var(--darkgrey) var(--grey);
    width: auto;
    height: auto;
}

/* Rubrik */

h1{
    font-size: 40px;
    margin-bottom: 40px;
}

/*Main*/


#stats{

}

#click-target{
    background-color: var(--grey);
    width: 200px;
    height: 60px;

    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    user-select:none;
}
#click-target:active{

}

#message-area{

}



#reset{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 30px;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    border: none;
    background-color: var(--grey);
    font-weight: bold;
}





#upgrades-window{
    position: absolute;
    background-color: var(--grey);
    width: 300px;
    right: 10px;
    top: 20px;
    border:none
}
.window-head-title{
    float: left;
    text-align: center;
    color: var(--white);
}

.windowhead{
    background-color: var(--blue);
    margin: 2px;
    padding: 4px;
    width: auto;
    height: auto;
    font-family: "W95fontBold";
    display: flex;
    justify-content: space-between;
}

.window-head-buttons{
    display: flex;
}
.window-head-buttons>*{
    margin-left: 2px;
}
.window-head-button{
    background-color: var(--grey);
    width: auto;
    height: auto;
    padding: 0 3px;
    font-size: 12px;
}


#upgrade-type-select{
    height: 75px;
}
#upgrade-type-select>div{

}
#upgrades{
    margin: 5px;
    border-style: solid;
    border-width: 2px;
    border-top-color: black;
    border-left-color: black;
    border-right-color: white;
    border-bottom-color: white;
    background-color: var(--white);
}
#upgrades>*{
    background-color: #fff;
}
.upgrade{
    background-color: inherit;
    margin: 3px 0;
    height: 60px;
}


#foot{
    width: 100%;
    height: 7vh;
    position: absolute;
    bottom: 0%;
    background-color: var(--grey);
    margin: 0;
}

